---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{site.title}}</title>
  </head>
  <body>
   
  
  </body>
</html>


<!DOCTYPE HTML>

<html>

	{%include "head.html"%}
	<body class="is-preload">

		{%include "header.html"%}

	{%include "nav.html"%}

		<!-- Main -->
			<section id="main" class="wrapper style1">
				<div class="inner">

					<header class="major special">
						<h1>{{title}}</h1>
						<p>{{subtitle}}</p>
					</header>

					<div class="content">
					{{featuredImage}}
                      {{ content | safe }}
					</div>

				</div>
			</section>

			{%include "footer.html"%}

			{%include "scripts.html"%}

	</body>
</html>