<!DOCTYPE HTML>
<!--
	Hologram by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	{%include head.html%}
	<body class="landing is-preload">

		<!-- Header -->
		{%include header.html%}

	{%include nav.html%}

		<!-- Banner -->
			<section id="banner">
				<header class="major">
					<span class="icon fa-code style3"></span>
					<h1>Studio303</h1>
					<p>Web Development for Everyone<br>local to Billings, MT</p>
				</header>
				<ul class="actions special">
					<li><a href="#one" class="button scrolly">Learn More</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major alt style2">
						<h2>We Create Solutions</h2>
						<p>Let us enhance your digital presence</p>
					</header>
					<section class="split">
						<article>
							<span class="icon fa-cubes style3"></span>
							<h4>Complete Websites<br> and Custom Components</h4>
							<p>We can build you a new site from scratch, improve or fix your existing site, or create custom components to add to your existing site. If you're trying to improve your web presence, we can help. All without ongoing fees and free support for a year.</p>
							<ul class="actions special">
								<li><a href="/website-services" class="button">Learn More</a></li>
							</ul>
						</article>
						<article>
							<span class="icon fa-diamond style4"></span>
							<h4>Data Management<br> and Security Solutions</h4>
							<p>Leveraging the power of services like Amazon's AWS and Google's Cloud Platform we can build you custom solutions to backup, display, and/or manage, all of your crucial data. "App" backends, archiving, workflow enhancements, and much more!</p>
							<ul class="actions special">
								<li><a href="/data-services" class="button">Learn More</a></li>
							</ul>
						</article>
					</section>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3 special">
				<div class="inner">
					<header class="major">
						<h2>Website Package Deals</h2>
						<p>Up-front pricing, clear expectations</p>
					</header>
					<section class="spotlights">
						<section>
							<span class="image"><img src="images/charles-black-F7HGqkkMYAU-unsplash.jpg" alt="" height="315"/></span>
							
							<h4>Package 1: Get out there!</h4>
							<p>Get yourself out there! A perfect package for individuals and small non-profits. Get an attractive, accessible, responsive website with up to 5 pages. Includes a working contact form and no monthly hosting costs. </p>
							<ul class="actions special">
								<li><a href="/website-package-deals/get-out-there/" class="button">Package 1 Details	</a></li>
							</ul>
						</section>
						<section>
							<span class="image"><img src="images/artem-gavrysh-F6-U5fGAOik-unsplash.jpg" alt="" height="315"/></span>
							<h4>Package Two: E-commerce Starter</h4>
							<p>Want to get started selling online? Or would you like to reduce your current overhead? This package is perfect for e-commerce sites with less than 50 items for sale. </p>
							<ul class="actions special">
								<li><a href="/website-package-deals/ecommerce-starter/" class="button">Package 2 Details</a></li>
							</ul>
						</section>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>Selected Projects</h2>
						<p>Examples of what we can do</p>
					</header>
					<section class="features">
						<section>
							<span class="image"><img src="images/Customized Calendar_1.png" alt="" width="270"/></span>
							<!-- <span class="icon fa-cubes style3"></span> -->
							<h4>Custom Public Calendar</h4>
							<p>The beauty of this project is that the organization is still able to use Google Calendar to manage all of their events, so there was no staff training necessary. This calendar integrates multiple different Google Calendars and utilizes custom functionality and branding.</p>
						</section>
						<section>
							<!-- <span class="icon fa-diamond style4"></span> -->
							<span class="image"><img src="images/genre2 homepage.png" alt="" width="270"/></span>
							<h4>Literary Journal Website</h4>
							<p>A custom website made to focus on speed, usability, and an excellent digital reading experience. <a href="https://www.genre2.org" target="_blank">Check it out in action</a>.</p>
						</section>
						<section>
							<!-- <span class="icon fa-camera-retro style2"></span> -->
							<span class="image"><img src="images/BAHSIC homepage.png" alt="" width="270"/></span>
							<h4>Non-Profit Website</h4>
							<p>A project that updated a regional non-profit's website. We focused on SEO and accessibility for the site as well as a complete overhaul of content and messaging.</p>
						</section>
						<section>
							<span class="image"><img src="images/Data Manager App.png" alt="" width="270"/></span>
							<!-- <span class="icon fa-cloud style3"></span> -->
							<h4>Data Management Webapp</h4>
							<p>Made to manage a variety of different content types that are then able to be displayed in various ways across any number of pages. The ultimate in flexibility and customization. </p>
						</section>
					</section>
					<footer class="major">
						<!-- <ul class="actions special">
							<li><a href="#" class="button">Learn More</a></li>
						</ul> -->
						<span class="icon fa-code style3"></span>
					</footer>
				</div>
			</section>

		<!-- Four -->
			<section id="contact" class="wrapper style4 special-alt">
				<div class="inner split">
					<section>
						<header class="major">
							<h2>Let's Talk</h2>
						</header>
						<p>Know what you're interested in? Let's get started! </p>
						<p>Know that you need <em>something</em> but not sure how to articulate it? No problem! Let's chat about your situation and see what we can figure out.</p>
					</section>
					<form name="contact" method="POST" data-netlify="true">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" />
						<label for="email">Email</label>
						<input type="email" id="email" name="email" />
						<label for="message">Message</label>
						<textarea type="textarea" id="textarea" name="textarea" ></textarea>
						 
						<ul class="actions">
							<li><a type="submit" class="button">Send</a></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Five -->
			<section id="five" class="wrapper style1 special alt">
				<div class="inner">
					<span class="icon fa-code style3"></span>
					<!-- <h4>Curious about our tech stack?</h4>
					<p>Would you like to learn more about the technologies we frequently use?<br>We're happy to answer any questions you may have!</p>
					<ul class="actions special">
						<li><a href="#" class="button">Studio303 Tech</a></li>
					</ul> -->
				</div>
			</section>

		{%include footer.html%}

	{%include scripts.html%}
	</body>
</html>